// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// 色コード
$color-blue-light: #ebf1fe;
$color-blue: #4979f5;
$color-blue-dark: #0017c1;
$color-gray-ultra-light: #f8f8fb;
$color-gray-light: #dbdbdb;
$color-gray: #757578;
$color-gray-dark: #626264;
$color-gray-slight-dark: #B4B4B7;
$color-red: #ff5838;
$color-white: #ffffff;
$color-black: #1a1a1c;
$color-gray-slight-dark: #B4B4B7;

// フォントサイズ
$font-size-base: 1rem;
