@import "_variables";
header {
    padding: 10px 20px;
    border-bottom: 1px solid $color-black;
    background: $color-blue;
    color: $color-blue-light;
}
footer {
    padding: 20px;
    text-align: center;
    font-size: .9rem;
    color: $color-gray;
}
body {
    margin: 0;  
    font-family: "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Sans",
        "Noto Sans JP", "sans-serif";
    font-weight: 500;
    font-size: $font-size-base;

    h3,
    legend {
        font-size: 28px;
        color: $color-black;
    }

    .main {
        overflow: hidden;
        .content {
            min-width: 1020px;
            height: calc(100vh - 50px);
            overflow: auto;
            background-color: $color-white;
            padding: 32px 40px;
        }
    }

    .navbar {
        height: 50px;
        padding: 8px 24px;
        background-color: $color-white !important;
        border-bottom: 2px solid $color-blue-dark;
        .navbar-brand {
            color: $color-blue;
            font-size: 16px;
            > img {
                height: 24px;
                margin-right: 8px;
            }
        }
    }

    .sidebar {
        background-color: $color-gray-dark;
        padding: 10px 0;
        width: 180px;
        min-height: calc(100vh - 50px);
        height: auto;

        &.closed {
            width: 56px;
            .nav-text {
                display: none;
            }
            .nav-item .nav-link {
                padding: 8px 8px 8px 16px;
            }
            .nav-item .submenu .submenu-title {
                display: block;
                width: 100%;
                padding: 8px 16px 8px 8px;
                color: $color-gray-ultra-light;
                text-decoration: none;
                line-height: 16px;
                &:hover {
                    background-color: $color-blue;
                    color: $color-gray-ultra-light;
                }
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                > a {
                    color: $color-gray-ultra-light;
                    text-decoration: none;
                    &:link,
                    &:visited {
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }
        }

        .nav-item {
            position: relative;

            &:hover {
                background-color: $color-blue;
                color: $color-gray-ultra-light;
                .submenu {
                    display: block;
                }
            }

            .nav-link {
                padding: 8px 8px 8px 32px;
                line-height: 16px;
                color: $color-gray-ultra-light;
                > i {
                    margin: 0 8px;
                }
            }

            .submenu {
                display: none;
                position: absolute;
                top: 0;
                left: 100%;
                min-width: 180px;
                background-color: $color-blue;
                color: $color-gray-ultra-light;
                border: solid 1px $color-blue;
                padding: 0;
                z-index: 1;
                li {
                    &:hover {
                        background-color: $color-gray-ultra-light;
                    }
                    &.submenu-title {
                        display: none;
                    }
                    a {
                        display: block;
                        width: 100%;
                        padding: 8px 16px;
                        color: $color-gray-ultra-light;
                        text-decoration: none;
                        line-height: 16px;
                        &:hover {
                            color: $color-blue-dark;
                        }
                    }
                }
            }
        }

        .nav-current > a {
            background-color: $color-gray;
            &:hover {
                background-color: $color-blue;
                color: $color-gray-ultra-light;
            }
        }

        &:not(.closed) .nav-current {
            background-color: unset;
            .submenu {
                display:inline-block;
                position:unset;
                background-color: unset;
                border: unset;
                li {
                    &.current-page {
                        a {
                            opacity: 1;
                        }
                    }
                    a{
                        text-indent: 46px;
                        opacity: 0.5;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .rotate-180 {
        transform: rotate(180deg);
    }
}